main {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.menu-box-container, .menu-box-center, .style-list, .presents, .style-mini-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
}

.menu-box-container, .menu-box-center, .style-list, .style-mini-list {
    flex-direction: column;
}

.menu-box-container {
    background-color: #263645;
    color: white;
}

.menu-box-center {
    background-color: white;
    width: 350px;
    box-shadow : 0 0 0 1px rgba(0,0,0,.15),0 2px 3px rgba(0,0,0,.2);
    color: black;
    margin: 0px 0px 25px 0px;
}

.space-title-menu, .style-list, .presents {
    margin: 12px 0px;
    width: 100%;
}

.space-sub-title {
    margin: 12px 0px 15px 0px;
    width: 100%;
}

.sub-title {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.style-mini-list {
    /* border: 2px solid red;
    border-radius: 5px; */
    margin: 0px 0px 20px;
}

.title-menu, .title-menu-pag {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.bottom-space {
    margin: 5px 0px;
}

a {
    text-decoration: none;
    color: black;
    padding: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:hover {
    color: red;
}

p {
    font-size: 14px;
    line-height: 2px;
}

.presents {
    flex-direction: row;
    font-style: italic;
}

.img-github {
    padding: 0px 10px;
}

.img-logo {
    margin: 25px 0px;
}

.space-span {
    margin: 20px 0px;
    width: 80%;
    background-color: rgba(216, 222, 240, 0.1);
    border: red;
    border-radius: 3rem;
}

.color-bar{
    color: red;
    font-size: 18px;
}

.border-black {
    padding: 30px 50px;
}